/* Blue - #2D527F
Orange - #EA673B
Yellow - #F7B032
Pink - #EC7176 */

@font-face {
  font-family: Ultra-Regular;
  src: url(fonts/Ultra-Regular.ttf);
}
/* 
nav {
height:60px;
background-color: #333;

} */


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
    
li {
  float: left;
}
    
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
    
li a:hover:not(.active) {
  background-color: #111;
}
    
.active {
  background-color: #EA673B;
}

.bigTitle {
  font-size: 40px;
  color: white;
  font-family: "Ultra-Regular", serif;
  text-align: center;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

form label {
  margin: auto;
  padding-bottom: 10px;
  font-size: 1.8em;
  text-align: center;
  max-width: 600px;
}

form input {
  min-height: 30px;
  background-color: whitesmoke;
  border: 3px solid #2D527F;
  border-radius: 10px;
}

form button {
  padding: 20px;
  width: 400px;
  margin: auto;
  font-family: "Ultra-Regular", serif;
  color: #EA673B;
  font-size: 2em;
  border-radius: 10px;
  border: 3px solid #EA673B;
}

form button:hover {
  background-color: #F7B032;
}

#message {
  min-height: 80px;
}

section {
  
  height: 100vh;
  width: 100vw;
  padding: 30px;
}

.blueSection { 
  background-color:#2D527F;
  color: white;
}

#about{
  background-color: #EA673B;
  color: #2D527F;

}

#team {
  background-color:#F7B032;
  color: #2D527F;
}

#contact {
  background-color:#EC7176 ;
  color: #2D527F;
}

p{
  font-size: 1.8em;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

