/* TOP NAV */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #EA673B;
}



/* GENERAL TYPOGRAHY */

.bigTitle {
  font-size: 40px;
  color: white;
  font-family: "Ultra-Regular", serif;
  text-align: center;
  margin-bottom: 40px;
}

@font-face {
  font-family: Ultra-Regular;
  src: url(fonts/Ultra-Regular.ttf);
}

p, h3 {
  font-size: 1.2em;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

h3 {
  font-size: 1.4em;
}


/* SECTIONS STYLING */

section {
  min-height: 100vh;
  width: 100vw;
  padding: 30px;
}

.blueSection {
  background-color:#2D527F;
  color: white;
  width: 100%
}

.blueSection img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 800px;
}

#about{
  background-color: #EA673B;
  color: #2D527F;

}


/* TEAM SECTION */

#team {
  background-color:#F7B032;
  color: #2D527F;

}

#team ol {
  list-style-type: none;


  display: flex;
  text-align: center;
}

#team li {
  min-width: 200px;
  padding: 20px;

  justify-content: space-between;
}


#profile {
  width: 100px;
  border-radius: 20px;
}

#icon {
  width: 30px;
}


/* CONTACT FORM */

#contact {
  background-color:#EC7176 ;
  color: #2D527F;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

form label {
  margin: auto;
  padding-bottom: 10px;
  font-size: 1.8em;
  text-align: center;
  max-width: 600px;
}

form input {
  min-height: 30px;
  background-color: whitesmoke;
  border: 3px solid #2D527F;
  border-radius: 10px;
}

form button {
  padding: 20px;
  width: 400px;
  margin: auto;
  font-family: "Ultra-Regular", serif;
  color: #EA673B;
  font-size: 2em;
  border-radius: 10px;
  border: 3px solid #EA673B;
}

form button:hover {
  background-color: #F7B032;
}

#message {
  min-height: 80px;
}
