/* TOP NAV */

/* Blue - #2D527F
Orange - #EA673B
Yellow - #F7B032
Pink - #EC7176 */

/* @font-face {
  font-family: Ultra-Regular;
  src: url(fonts/Ultra-Regular.ttf);
} */


.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2d527f;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  font-family: "Fugaz One", cursive;
  /* border-radius: 10px; */
}

.navigation li {
  float: left;
}

.navigation a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

header li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #ea673b;
}

/* GENERAL TYPOGRAHY */

.bigTitle {
  font-size: 5em;
  color: white;
  font-family: "Fugaz One", cursive;
  text-align: center;
  margin-bottom: 80px;
}

/* @font-face {
  font-family: Ultra-Regular;
  src: url(fonts/Ultra-Regular.ttf);
} */

h2 {
  font-size: 2.4em;
  text-align: center;
  margin: auto;
  line-height: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

p,
h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  text-align: center;
  max-width: 600px;
  margin: auto;
  text-align: justify;
}

h3 {
  font-size: 1.4em;
  font-family: "Fugaz One", cursive;
}

form input {
  min-height: 30px;
  background-color: whitesmoke;
  border: 3px solid #2d527f;
  border-radius: 10px;
}

/* form button {
  padding: 20px;
  width: 400px;
  margin: auto;

  font-family: 'Open Sans', sans-serif;
  color: #ea673b;
  font-size: 2em;
  border-radius: 10px;
  border: 3px solid #ea673b;
} */

form button:hover {
  background-color: #f7b032;
}

/* SECTIONS STYLING */

section {
  min-height: 100vh;
  width: 100vw;
  padding: 30px;
}

.blueSection {
  background-color: #2d527f;
  color: white;
  width: 100%;
}

.blueSection img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 800px;
}

#about {
  background-color: #ea673b;
  color: #2d527f;
}

/* TEAM SECTION */

#team {
  background-color: #f7b032;
  color: #2d527f;
}

#team ol {
  list-style-type: none;
  text-align: center;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.person-profile {  /* This relates to the profiles (and -unwillingly- links) */
  width: 200px;
  padding: 20px;
  text-align: center;
  justify-content: space-around;
}

#profile {
  width: 100px;
  border-radius: 20px;
}

.profile-links {
  list-style-type: none;
  display: flex;

}

.profile-links #icon {  /* This relates to the links within the profiles */
  width: 30px;

}

/* CONTACT FORM */

#contact {
  background-color: #ec7176;
  color: #2d527f;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

form label {
  /* margin: auto; */
  /* padding-bottom: 10px; */
  font-size: 1.8em;
  text-align: center;
  max-width: 600px;
  font-family: "Open Sans", sans-serif;
}

form input {
  min-height: 50px;
  background-color: whitesmoke;
  border: 3px solid #2d527f;
  border-radius: 10px;
}

form button {
  margin-left: 200px;
  max-width: 200px;
  /* margin: auto; */
  height: 50px;
  font-family: "Open Sans", sans-serif;
  color: #ea673b;
  font-size: 2em;
  border-radius: 10px;
  border: 3px solid #ea673b;
}

form button:hover {
  background-color: #f7b032;
}

#message {
  min-height: 80px;
}
